# Compiled python modules.
*.pyc

# editor backup files
*.*~

# distutils build folder.
/build/

# distutils distributables folder. 
/dist/

# distutils MANIFEST file
MANIFEST

# packaging working files
*.egg
*.egg-info
docs/_build

# Arch AUR git project
packaging/arch/netdrive-connector
